.company-container{
    background: url('../img/stockBg.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    min-height: 100vh;
    background-size: contain;
    width: 100%;
}
.comp-content{
    padding:2%;
}
.info{
    border: 1px solid white;
    border-radius: 10px;
    text-align: left;
    padding: 2%;
    /* margin-left: 5%; */
    margin-bottom: 2%;
    width:300px;
    height: 220px;
    background-color: #a37ed09c;
}
@media all and (max-width:768px){
 .comp-container li {
        padding: 5px;
    }
    .info{
        margin:0;
        margin-bottom: 2%;
    }
}