/* .navBody{

} */
@keyframes navslide {
    0%{
        opacity: 0;
        bottom:100%;
        /* right:80%; */
    }
    100%{
        opacity: 1;
        bottom: 0;
        /* right:10%; */
    }
}
@keyframes navslide1 {
    0%{
        opacity: 0;
        bottom:100%;
        right:90%;
    }
    100%{
        opacity: 1;
        bottom: 0;
        right:5%;
    }
}
ul{
    list-style: none;
    text-decoration: none;
    padding: 5%;
}
li{
    padding: 2%;
    color: aliceblue;
}
.link{
    color: white;
    text-decoration: none;
    font-size: 200%;
    font-weight: 700;
}
.link:hover{
    text-shadow:5px 10px 15px #ffffff48;
}

.navopen{
    border: solid 20px black;
    animation: navslide 0.5s ease-out;
    display:block;
    background-color: rgba(0, 0, 0, 0.746);
    background: rgba(0, 0, 0, 0.746) url('../img/AlphaNav1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

    width:100%;
    filter:blur(100%);
    height:100%;
    z-index: 5;
    margin:0;
    position: fixed;
    left:0;
    top:0;
    right:0;
    transition: 0.5s;
}
.navclose{
    animation: navback 1s ease-in-out;
    display: none;
}
.navbtn{
    left: 2%;
    top:2%;
    /* position:absolute; */
    position: fixed;
    z-index: 10;
    padding:2%;
    width:90px;
    height:90px;
    /* background-color: rgba(0, 0, 0, 0); */
    border:0;
    background: url('../img/navbutton.svg');
    background-size: cover;
   
}
.navbtn:hover{
    animation: btngrow 1s ease;
}
@keyframes btngrow {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}

@media all and (max-width:768px){
   .navbtn{
    width:50px;
    height: 50px;
   }
.link{
    font-size: 150%;
}
.navopen li{
    padding: 5%;
}
}