@keyframes cardgrow {
    0%{
        transform: scale(0.8);
    }
    100%{
      transform: scale(1);
    }
}
.usersContainer{
    background:  url('../img/usersBg.svg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    min-height: 100vh;
    color: white;
}
.userCard{
    position: relative;
    animation: cardgrow 1s ease-in-out;
}
.userDisp{
    background: #ffffff70;
    height:200px;
    width: 200px;
    float: center;
    /* margin-left: auto;
    margin-right: auto; */
    border-radius: 30px;
    margin:5%;
    margin-left: 15%;

}
.usersInfo{
    background: #000000;
    height:50px;
    border-radius: 10px;
    color: #ffffff;
}
.userName{
    top:10%;
    position: relative;
    text-align: center;
}
.userImg{
    top:5%;
    position: relative;
    border-radius: 10px;
}

@media all and (max-width:768px){
    .usersContainer{
       align-items: center;
    }
    .userDisp{
        margin-left:20%;
    }
}
