@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.App {
  text-align: center;
}
body{
  background: linear-gradient(180deg, #3E245F 36.46%, #110A18 91.67%);
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Nanum Gothic', sans-serif;
}
Link{
  text-decoration: none;
}
